body{
    background-color:wheat;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto";
}
input{
    border-radius:5px;
    height: 40px;
}
#forumTextarea{
    border-radius:5px; 
}
.addin-item{
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 4, 255);
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    border-radius: 10px;
}
.heading{
    font-size: 40px;
    font-weight: bold;

}
.holder-name,.holder-comment{
    font-size: 25px;
}
.btn{
    margin-top: 10px;
    color: white;
    padding:10px;
    border-radius:10px;
}
.forum-content{
    font-size: 25px;
    color: rgb(5, 158, 115);
}
.user-input{
    margin-top: -40px;
    font-size: 30px;
}
.time-date{
    text-align: right;
    margin-right: 5px;
    font-size: 15px;
}
.footer {
    background-color: darkmagenta;
    /* top: 95%; */
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
  
  }
  .first {
    float: left;
  }
  span {
    color: white;
    font-weight: bold;
  }
  h3 {
    font-size: medium;
    font-weight: bold;
    margin-top: 2%;
  }
  .third {
    float: right;
  }
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-left: 10px;
  }
  
  h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1%;
  }  